@media (max-width: 575.98px) {
  #widgets {
    width: 50%;
  }
}
@media (min-width: 576px) {
  #widgets {
    width: 25%;
  }
}

#cvBody {
  max-width: 900px;
}

body {
  font-size: 1.25rem;
}

.navbar-brand {
  font-size: 2rem;
}
